<style type="text/css">
   main section#pricing .content .container {
      display: grid;
      justify-content: center;
      padding: 2em 0;
      grid-template-columns: 1fr 1fr 1fr;
   }

   main section#pricing .content .container .plan {
      min-height: 20em;
      min-width: 16em;
      margin: 8px;
   }

   main section#pricing .content .container .plan .tech-stack {
      display: flex;
      padding: 8px;
      flex-direction: row;
      justify-content: center;
   }

   main section#pricing .content .container .plan .tech-stack .item {
      padding: 12px;
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 50px;
      transition: transform 0.15s ease;
   }

   main section#pricing .content .container .plan .tech-stack .item:hover {
      transform: scale(1.15);
   }

   main section#pricing .content .container .plan .tech-stack .item img {
      width: 30px;
      filter: grayscale(1);
      vertical-align: middle;
      transition: filter 0.15s linear;
   }

   main section#pricing .content .container .plan .tech-stack .item:hover img {
      filter: grayscale(0);
   }

   main section#pricing .content .container .plan .facility {
      padding: 8px;
   }

   main section#pricing .content .container .plan .facility p {
      padding: 5px;
      margin: 0;
   }

   @media screen and (max-width: 767px) {
      main section#pricing .content .container {
         grid-template-columns: 1fr;
      }

      @media (orientation: landscape) {
         main section#pricing .scalable {
            padding: 0;
         }

         main section#pricing .content .container {
            grid-template-columns: 1fr 1fr;
         }

         main section#pricing .content .container .plan {
            min-width: 16em;
         }
      }
   }

   @media screen and (min-width: 768px) {
      main section#pricing .content .container {
         grid-template-columns: 1fr 1fr;
      }
   }

   @media screen and (min-width: 1024px) {
      main section#pricing .content .container {
         grid-template-columns: 1fr 1fr 1fr;
      }
   }
</style>

<%- include('partials/_header', { raised: true }) %>

<main>
   <section id="pricing">

      <div class="content scalable">
         <header>
            <h1>Pricing&nbsp;<span class="text-blur">plans</span></h1>
            <p>Price is what you pay. Value is what you get.</p>
         </header>

         <div class="container">
            <% for (const plan of plans) { %>
            <div class="plan card" data-aos="fade-up" data-aos-delay="60" data-aos-duration="<%= plan.anim_duration || 100 %>">
               <div class="card-body">
                  <div class="card-header text-center">
                     <header>
                        <h3><%= plan.name %></h3>
                     </header>

                     <% if (plan.min_price) { %>
                     <div class="price">
                        <h4>&#8377;<%= plan.min_price %><%= (plan.monthly_charge && plan.monthly_charge == true)? '/month': '' %> <span class="text-blur">onwards</span></h4>
                     </div>
                     <% } %>
                  </div>

                  <div class="card-content">
                     <div class="tech-stack">
                        <% for (const techinstance of plan.techstack || []) { %>
                        <div class="item" title="<%= techinstance.name %>">
                           <img src="<%= techinstance.source %>" alt="<%= techinstance.name %>" />
                        </div>
                        <% } %>
                     </div>

                     <div class="facility">
                        <% for (const facility of plan.facilities || []) { %>
                        <p><%= facility %></p>
                        <% } %>
                     </div>
                  </div>
               </div>

               <div class="card-action">
                  <a href="/order/<%= plan.id %>">Place an order</a>
               </div>
            </div>
            <% } %>
         </div>
      </div>
   </section>
</main>

<%- include('partials/_footer') %>