<% 
   const memberRoles = [
      { label: 'Pioneers', route: '/team' },
      { label: 'Developers', route: '/team/developers' },
      { label: 'Digital Marketing', route: '/team/digmarketing' }
   ];

   let animDuration = 300;
%>

<style type="text/css">
   main section#team .member-sector {
      padding-top: 1em;
   }

   main section#team .member-sector .members {
      padding-top: 2em;
      display: flex;
      justify-content: center;
   }

   main section#team .member-sector .members .member {
      display: flex;
      margin-left: 1.8em;
      margin-right: 1.8em;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 10em;
   }
   main section#team .member-sector .members .member .avatar img {
      width: 11em;
      height: 11em;
      border-radius: 50%;
      transition: box-shadow 0.2s linear;
   }

   main section#team .member-sector .members .member .detail {
      padding-top: 8px;
      text-align: center;
   }

   main section#team .member-sector .members .member .detail .name,
   main section#team .member-sector .members .member .detail .role {
      padding-top: 2px;
      padding-bottom: 2px;
   }

   main section#team .member-sector .members .member .detail .contacts ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
   }

   main section#team .member-sector .members .member .detail .contacts li {
      display: inline-block;
   }

   main section#team .member-sector .members .member .detail .contacts li a {
      display: block;
      padding: 14px 8px;
   }

   main section#team .member-sector .members .member .detail .contacts li a svg {
      width: 15px;
      height: 15px;
      stroke: #777;
   }

   main section#team .member-sector .members .member .detail .contacts li a svg {
      transition: stroke 0.25s linear;
   }

   main section#team .member-sector .members .member .detail .contacts li a:hover svg {
      stroke: var(--pcolor);
   }

   main section#team .member-sector .members .member:hover .avatar img {
      box-shadow: 0 2px 10px #CCC;
   }

   main section#team .member-sector .members.primary {
      flex-direction: column;
      align-items: center;
   }

   main section#team .member-sector .members.primary .member {
      display: flex;
      margin-top: 8px;
      margin-bottom: 8px;
      width: 60%;
      flex-direction: row;
   }

   main section#team .member-sector .members.primary .member:not(:last-child) {
      border-bottom: 1px solid #DDD;
   }


   main section#team .member-sector .members.primary .member .avatar img {
      width: 11.8em;
      height: 11.8em;
   }

   main section#team .member-sector .members.primary .member:nth-child(2) {
      flex-direction: row-reverse;
   }

   main section#team .member-sector .members.primary .member .detail {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 1.5em;
      text-align: left;
   }

   main section#team .member-sector .members.primary .member .contacts {
      height: 100%;
      padding: 8px 1em;
   }

   main section#team .member-sector .members.primary .member .contacts ul {
      display: flex;
      margin: 0;
      padding: 0;
      flex-direction: column;
      justify-content: center;
      list-style-type: none;
      height: inherit;
   }

   main section#team .member-sector .members.primary .member .contacts ul li a {
      display: block;
      padding: 10px;
   }

   main section#team .member-sector .members.primary .member .contacts ul li a svg {
      width: 18px;
      height: 18px;
   }

   main section#team .role-tags ul {
      margin: 0;
      list-style-type: none;
   }

   main section#team .role-tags ul li {
      display: inline-block;
   }

   @media screen and (max-width: 767px) {
      main section#team .member-sector .members {
         flex-direction: column;
         width: 100%;
         align-items: center;
      }
      main section#team .member-sector .members.primary .member,
      main section#team .member-sector .members.primary .member:nth-child(2) {
         flex-direction: column;
         width: 70%;
      }
      main section#team .member-sector .members.primary .member .contacts ul {
         flex-direction: row;
      }
   }
</style>

<%- include('partials/_header', { raised: true }); %>

<main>
   <section id="team">

      <div class="member-sector" data-member-role="pioneers">
         <header class="text-center">
            <h2><%= collection.name %></h2>
            <p>A good team is like a strong foundation of a house, <br />that's why even a storm or rain can't shake a house, <br />Just like that our team is the foundation for us.</p>
         </header>
         
         <div class="tabpanel">
            <% for (const role of memberRoles) { %>
               <% const roleClass = ((PAGE_ROUTE === role.route)? 'active': '') + ' tab'; %>
               <a href="<%= role.route %>" class="<%= roleClass %>"><%= role.label %></a>
            <% } %>
         </div>

         <% if (collection.type === 'PRIMARY') { %>
         <div class="members primary">

            <% for (const member of collection.members) { %>
            <div class="member" data-aos="fade-up" data-aos-delay="80" data-aos-duration="<%= animDuration += 150 %>">
               <div class="avatar">
                  <img src="<%= member.avatar %>" alt="<%= member.name %>" />
               </div>

               <div class="detail">
                  <div class="name">
                     <h3><%= member.name %></h3>
                  </div>
                  <p class="role text-blur"><small><%= member.role %></small></p>

                  <% if (member.about) { %>
                  <div class="about">
                     <p><%= member.about %></p>
                  </div>
                  <% } %>
               </div>

               <%- include('partials/_render_social_links', { links: member.social }); %>
            </div>
            <% } %>
         </div>
         <% } else { %>
            <div class="members">

               <% for (const member of collection.members) { %>
               <div class="member" data-aos="fade-up" data-aos-delay="80" data-aos-duration="<%= animDuration += 150 %>">
                  <div class="avatar">
                     <img src="<%= member.avatar %>" alt="" />
                  </div>
                  <div class="detail">
                     <div class="name">
                        <h4><%= member.name %></h4>
                     </div>
                     <div class="role text-blur"><small><%= member.role %></small></div>

                     <%- include('partials/_render_social_links', { links: member.social }); %>
                  </div>
               </div>
               <% } %>
            </div>
         <% } %>
      </div>
   </section>
</main>

<%- include('partials/_footer') %>