<% 
   locals.PAGE_ID = 'team';

   locals.PAGE_DESCRIPTION = "Meet our experianced team members, who responsible for our better productivity.";
   locals.PAGE_KEYWORDS = [
      'Developar Team',
      'Developar Members',
      'Developar Engineers',
      `Developar ${collection.name}`,
      `Developar ${PAGE_NAME}`
   ];

   const memberRoles = [
      { label: 'Pioneers', route: '/team' },
      { label: 'Developers', route: '/team/developers' },
      { label: 'Design & Marketing', route: '/team/dm' }
   ];
%>

<style type="text/css">
   .member-sector {
      padding-top: 1em;
   }

   .members {
      padding-top: 2em;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   }

   .members .member .avatar img {
      border-radius: 50%;
      transition: box-shadow 0.2s linear;
   }

   .members .member:hover .avatar img {
      box-shadow: 0 2px 10px #CCC;
   }

   .members .member .detail .contacts li a svg {
      transition: stroke 0.25s linear;
   }

   @media screen and (max-width: 767px) {
   
      @media (orientation: landscape) {
         .members {
            flex-direction: row;
         }
         .members .member {
            width: 12em;
            margin-left: 12px;
            margin-right: 12px;
         }
      }
   }
   @media screen and (max-width: 400px) {
      .members {
         align-items: flex-start;
      }
   }
</style>

<%- include('partials/_header_secondary', { raised: true }); %>

<main>
   <section id="team">

      <div class="member-sector" data-member-role="pioneers">
         <header class="text-center">
            <h2><%= collection.name %></h2>
            <p><small>A good team is like a strong foundation of a house, <br />that's why even a storm or rain can't shake a house, <br />Just like that our team is the foundation for us.</small></p>
         </header>
         
         <div class="tabpanel">
            <% for (const role of memberRoles) { %>
               <% const roleClass = ((PAGE_ROUTE === role.route)? 'active': '') + ' tab'; %>
               <a href="<%= role.route %>" class="<%= roleClass %>"><%= role.label %></a>
            <% } %>
         </div>

         <% if (collection.type === 'PRIMARY') { %>
            <%- include('partials/_render_primary_team_members', { members: collection.members }); %>
         <% } else { %>
            <%- include('partials/_render_secondary_team_members', { members: collection.members }); %>
         <% } %>
      </div>
   </section>
</main>

<%- include('partials/_footer') %>