<% 
   locals.PAGE_DESCRIPTION = "Apply for your dream job. We just looking your skill not your background or qualification.";
   locals.PAGE_KEYWORDS = [
      "Developar Jobs",
      "Developar apply",
      "Developar job posts",
      "Developar job requirements",
      "Developar apply for work"
   ];
   let anim_duration = 0; 
%>

<style type="text/css">
   main #jobs .categories {
      display: flex;
      min-height: 18em;
      flex-direction: column;
      justify-content: flex-end;
   }

   main #jobs .categories > header {
      padding: 1em;
   }

   main #jobs .categories .posts {
      display: grid;
      padding: 0 1em;
      grid-column-gap: 1.5em;
      grid-row-gap: 1.5em;
      grid-template-columns: repeat(2, 1fr);
   }

   main #jobs .categories .posts .job {
      margin: 0;
      width: 100%;
   }
   main #jobs .categories .posts .job[open] .content {
      overflow: auto;
   }

   main #jobs .categories .posts .job[open] .apply-job-button {
      background-color: var(--pcolor-light);
      color: var(--pcolor-fr);
   }
   
   @media screen and (max-width: 767px) {
      main #jobs .categories .posts {
         grid-template-columns: 1fr;
      }
   }
</style>

<%- include('../partials/_header', { raised: true }) %>

<main>
   <section id="jobs">
      <div class="categories">
         <header>
            <h3 class="text-blur">Choose a dream career, </h3>
            <h2>Be a part of <span class="text-blur">Developar</span></h2>
         </header>

         <br />

         <div class="posts">

            <% for (const post of jobs) { %>
            <%
               anim_duration += 200;
            %>
            <div class="job collapsible use-<%= post.theme_color || 'primary' %>" <%= post.opened && 'open' %> data-aos="fade-up" data-aos-delay="60" data-aos-duration="<%= anim_duration %>">
               <div data-collapse-target="mobile-app-developer-job" class="toggler">
                  <div class="label"><%= post.name %></div>
                  <div class="action auto-rotate"><i data-feather="chevron-down"></i></div>
               </div>
               <div data-collapse-id="mobile-app-developer-job" class="content colored">
                  <header class="scalable-x scalable-y">
                     <h3><%= post.name %></h3>
                  </header>
                  <ul>
                     <% for (const term of post.qualification) { %>
                        <li><%= term %></li>
                     <% } %>
                  </ul>

                  <div>
                     <p>
                        <a href="/career/jobs/<%= post.id %>" class="apply-job-button" type="button">Apply now</a>
                     </p>
                  </div>
               </div>
            </div>
            <% } %>
         </div>
      </div>
   </section>
</main>

<%- include('../partials/_footer') %>